.container {
    background-color: #A3BB98 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.box {
    border-radius: var(--sl-border-radius-medium);
    box-shadow: var(--sl-shadow-x-large);
    padding: 16px;
    z-index: 2;
    position: relative;
    hr {
        margin: 16px 0;
        border-color: #dbdbdb;
        border-top: 0px;
        border-left: 0;
    }
}

.box-white {
    background-color: #fff;
    margin-top: 100px;
    z-index: 3;
}

.box-yellow {
    background-color: #FFB100;
    margin-top: 16px;
}

.rules-preview {
    background-color: var(--sl-color-gray-100);
    padding: 12px 10px;
    border-radius: 6px;
    min-height: 43px;
    h4 {
        margin: 6px 0 0 0;
    }
}

.input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    .password-result-field {
        flex: 1;
        display: flex;
        background: #fff;
        padding: 16px;
        border-radius: 8px;
        height: 24px;
        .text {
            flex: 1;
            span {
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 5px;
                position: relative;
                &:hover {
                    color: var(--sl-color-primary-500);
                }
                &.chip {
                    border: 1px solid black;
                    border-radius: 4px;
                    margin-right: 6px;
                    padding: 4px;
                    letter-spacing: 0;
                    &.onEdit {
                        border-radius: 4px 0px 4px 4px;
                    }
                }
                &.chip:hover {
                    border: 1px solid var(--sl-color-primary-500);
                    .remove {
                        background: var(--sl-color-primary-500);
                    }
                }
                .remove {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: red;
                    top: -17px;
                    right: -1px;
                    width: 17px;
                    height: 17px;
                    border-radius: 4px 4px 0 0;
                    img {
                        width: 12px;
                    }
                }
            }
        }
    }
    #rules-hint {
        height: 18px;
    }
}

.bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}